// ============== //
//   COMPONENTS   //
// ============== //

.frameworks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.links-list {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--mono-shade1) !important;
  border-radius: 8px;
  box-shadow: var(--navbar-menu-box-shadow);

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  transition: 0.1s all;

  &:any-link,
  &:hover,
  &:focus {
    text-decoration: none !important;
    * {
      text-decoration: none !important;
    }
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  h1 {
    margin: 0;
    line-height: 1.2;
  }
}

span.date {
  color: var(--code-theme-text);
  padding: 0.25rem 0.5rem;
  border-radius: 16px;
  background: var(--mono-tint2);
  font-size: 0.8rem;
}

// ============= //
//   CSS FIXES   //
// ============= //

article {
  margin-top: 10vh !important;

  & > :not(div),
  & > .dtb-mockup-code {
    width: 75% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  h2 {
    border: none !important;
  }
}

iframe {
  width: 100%;
  height: 40vh;
}

.markdown-section {
  max-width: 1900px !important;
}

// Example panel needs to be sticky, so supply some CSS overrides
.docsify-example-panel.right-panel {
  position: sticky;
  top: 0;
}
.docsify-tabs__content {
  overflow: visible !important;
}
main {
  overflow-x: visible;
}

// Search button fix
.clear-button.show {
  display: flex !important;
  align-items: center;
}

// Docsify terminal block fix for light theme
pre[data-prefix="$"]::before {
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
